footer {
    margin-top: 109px;
    padding-bottom: 21px;
    @include mq-pc {
    margin-top: 114px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    small {
        font-size: 10;
        line-height: calc(12 / 10);
    }

}

.footer-nav {
    ul {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    a {
        font-size: 12px;
        line-height: calc(14 / 12);
    }
}