$black: #333;
$glay: #212529;
$white: #fff;
$green-color: #63977E;
$border-color: #808080;
$border-card-color: #A9A9A9;

$sp-width: 375;
$pc-width: 1366;

$campaign-grid-left-gap: pcVw(53);

:root {
  --sp-width: 375;
  --pc-width: 1366;
}